---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";

---
<Layout title="Descuentos">
    <div class="principal">
        <section class="discounts">
            <header class="discount-header">
                <h1>Descuentos</h1>
                <a href="/index" class="back-link">Volver al inicio</a>
            </header>         

            <div class="discounts-container">

                <div class="row">
                    <div class="catalog-item discount">
                        <img src="slider2.jpg" alt="Descuento 1">
                        <h2>Descuento 1</h2>
                        <p>Descripción del descuento 1...</p>
                    </div>

                    <div class="catalog-item discount">
                        <img src="slider3.jpg" alt="Descuento 2">
                        <h2>Descuento 2</h2>
                        <p>Descripción del descuento 2...</p>
                    </div>

                    <div class="catalog-item discount">
                        <img src="slider3.jpg" alt="Descuento 3">
                        <h2>Descuento 3</h2>
                        <p>Descripción del descuento 3...</p>
                    </div>
                </div>

                <div class="row">
                    <div class="catalog-item discount">
                        <img src="slider2.jpg" alt="Descuento 4">
                        <h2>Descuento 1</h2>
                        <p>Descripción del descuento 1...</p>
                    </div>

                    <div class="catalog-item discount">
                        <img src="slider3.jpg" alt="Descuento 5">
                        <h2>Descuento 2</h2>
                        <p>Descripción del descuento 2...</p>
                    </div>

                    <div class="catalog-item discount">
                        <img src="slider3.jpg" alt="Descuento 6">
                        <h2>Descuento 3</h2>
                        <p>Descripción del descuento 3...</p>
                    </div>
                </div>

        </section>
    </div>
    <Footer></Footer>

</Layout>