---
---

<footer class="footer">
    <div>
        <p>
            Zihuatanejo Gro., CP.40880<br>
            Nombre : Ing. Jesús Mendoza y Ing. Daniel Moran &copy; 2024<br>
            Correo:<a href="mailto:jm6449774@gmail.com"> jm6449774@gmail.com</a><br>
        </p>
    </div>
</footer>

<style>
.footer {
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Color oscuro de madera para el footer */
  text-align: center;
  padding: 5px 0;
  border-top-left-radius: 20px; /* Redondeo en la esquina superior izquierda */
  border-top-right-radius: 20px; /* Redondeo en la esquina superior derecha */
  color: white; /* Color blanco para el texto dentro del footer */
}
</style>